<div class="footer">
  <h4>Все права защищены © 2024-2042
  <br> Сетевое издание «BlaBlaBla.com», зарегистрировано Межгалактической службой по надзору в сфере мемологии, котиков
  и Рикардо Милоса, номер свидетельства
    <span appSomeSpecialDir>LOL </span>
    <span appSomeSpecialDir>№WTF </span>
    <span appSomeSpecialDir>42069</span></h4>

  <div class="footer__links">
    <a href="" class="footer__feedback"><img src="/assets/img/footer-links/telegram.jpg" alt=""></a>
    <a href="" class="footer__feedback"><img src="/assets/img/footer-links/instagram.jpg" alt=""></a>
    <a href="" class="footer__feedback"><img src="/assets/img/footer-links/vk.jpg" alt=""></a>
  </div>

  <ul class="footer__info">
    <ol>
      <a href="">Контакты</a>
    </ol>
    <ol>
      <a href="">Реклама</a>
    </ol>
    <ol>
      <a href="">О проекте</a>
    </ol>
    <ol>
      <a href="">Пользовательское соглашение</a>
    </ol>
  </ul>

</div>
