@import "src/assets/mixin";

.footer {
  height: 80px;
  background: #262626;
  @include flexible;
  justify-content: space-between;

  @media (max-width: 1110px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  h4 {
    width: 50%;
    font-family: sans-serif;
    font-size: 13px;
    color: #C0C0C0;
    padding: 0 20px;

    @media (max-width: 1110px) {
      text-align: center;
      width: 90%;
      margin: 0 auto;
    }
  }

  &__links {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__feedback {
    width: 50px;
    height: 50px;
    @include flexible;
    justify-content: center;

    @media (max-width: 1110px) {
      margin: 10px auto;
    }
  }

  &__info {
    margin-right: 20px;
    padding-left: 0;

    @media (max-width: 1110px) {
      display: flex;
    }

    @media (max-width: 690px) {
      display: grid;
      grid-template-columns: 130px 230px;
    }

    @media (max-width: 570px) {
      display: grid;
      grid-template-columns: 105px 240px;
    }

    @media (max-width: 490px) {
      display: grid;
      grid-template-columns: 105px 250px;
    }
  }

}

a {
  font-family: sans-serif;
  font-size: 13px;
  color: #C0C0C0;
  @include link;
}

img {
  width: 30px;
  transition: 0.5s;

  &:hover {
    width: 45px;
    transition: 0.5s;
  }
}
