@import "src/assets/mixin";

.first-letter {
  @include flexible;
  flex-direction: column;
  margin: 10px auto;
  @include main-text;

  @media (max-width: 1015px) {
    font-size: 18px;
    text-align: center;
  }
}

.intro {
  @include main-text;

  @media (max-width: 1015px) {
    font-size: 18px;
    text-align: center;
  }

  :nth-child(4n) {
    flex-direction: row-reverse;
    text-align: right;

    @media (max-width: 1185px) {
      text-align: center;
      flex-direction: column-reverse;
    }
  }

  &__text-line {
    margin: 20px auto;
    height: 3px;
    background: darkgray;
    border-radius: 5px;
  }

  &__gen {
    @include flexible;

    @media (max-width: 1185px) {
      flex-direction: column-reverse;
    }

    &__text {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 30px 60px;

      h2 {
        text-align: center;
      }
    }

    &__helper {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 0;
      width: 0;
      left: 70%;
      top: 15px;

      @media (max-width: 1300px) {
        left: 80%;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        border: 1px solid #ffffff;
        @include link;

        @media (max-width: 1300px) {
          width: 100px;
        }

        &:hover {
          transition: 0.3s;
          color: #000000;
        }

        &:nth-child(2) {
          border-bottom: none;
          border-top: none;
          background: #120a8f;
        }

        &:nth-child(1) {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background: #1e90ff;
        }

        &:nth-child(3) {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background: #ff0000;
        }
      }
    }

    &__more {
      @include btn-font;
      position: relative;
      top: 40px;
      margin: 0 auto;
      width: 200px;
      height: 50px;
      background: whitesmoke;
      border: 2px solid #000;
      border-radius: 3px;
      transition: 0.5s;
      box-shadow: 0 0 20px 10px lightgray;

      &:hover{
        transition: 0.5s;
        background: #ff0028;
        color: whitesmoke;
        border: white;
        padding-right: 20px;

        &::after {
          transition: 0.5ms;
          position: absolute;
          content: ' \27A4';
          color: whitesmoke;
          right: 15px;
          margin-top: 2px;
        }
      }
    }
  }

}

.bg {
  position: relative;
  width: 90%;
  display: flex;
  margin: 0 auto;
  z-index: -999;
}

.img {
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 0 1em 0.5em gray;

  @media (max-width: 1250px) {
    width: 400px;
  }
}

form {
  display: flex;
}
