<app-header></app-header>

<h1>E30 1986-1992 (1 поколение)</h1>
<div class="model">
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e30/e30_coupe.jpg" alt="">
      <h3>Купе</h3>
      <h3>02.1986 - 10.1990</h3>
    </a>
  </div>
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e30/e30_cabrio.jpg" alt="">
      <h3>Кабриолет</h3>
      <h3>05.1988 - 06.1991</h3>
    </a>
  </div>
</div>

<h1>E36 1992-1999 (2 поколение)</h1>
<div class="model">
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e36/e36_sedan.jpg" alt="">
      <h3>Седан</h3>
      <h3>07.1994 - 04.1999</h3>
    </a>
  </div>
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e36/e36_coupe.jpg" alt="">
      <h3>Купе</h3>
      <h3>02.1992 - 04.1999</h3>
    </a>
  </div>
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e36/e36_cabrio.jpg" alt="">
      <h3>Кабриолет</h3>
      <h3>01.1994 - 06.1999</h3>
    </a>
  </div>
</div>

<h1>E46 2000-2006 (3 поколение)</h1>
<div class="model">
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e46/e46_coupe.jpg" alt="">
      <h3>Купе</h3>
      <h3>10.2000 - 12.2006</h3>
    </a>
  </div>
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e46/e46_cabrio.jpg" alt="">
      <h3>Кабриолет</h3>
      <h3>01.2001 - 11.2006</h3>
    </a>
  </div>
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e46/e46_cls.jpg" alt="">
      <h3>Купе (CLS)</h3>
      <h3>10.2000 - 12.2006</h3>
    </a>
  </div>
</div>

<h1>E90/92/93 2008-2013 (4 поколение)</h1>
<div class="model">
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e90_92_93/e90.jpg" alt="">
      <h3>Седан (E90)</h3>
      <h3>03.2007 - 10.2011</h3>
    </a>
  </div>
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e90_92_93/e92.jpg" alt="">
      <h3>Купе (E92)</h3>
      <h3>09.2006 - 07.2013</h3>
    </a>
  </div>
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/e90_92_93/e93.jpg" alt="">
      <h3>Кабриолет (E93)</h3>
      <h3>05.2007 - 10.2013</h3>
    </a>
  </div>
</div>

<h1>F80 2014-2020 (5 поколение)</h1>
<div class="model">
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/f80/f80.jpg" alt="">
      <h3>Седан</h3>
      <h3>12.2013 - 02.2019</h3>
    </a>
  </div>
</div>

<h1>G80 2020-н.в. (6 поколение)</h1>
<div class="model">
  <div class="model__card">
    <a href="">
      <img src="/assets/img/models/g80/g80.jpg" alt="">
      <h3>Седан</h3>
      <h3>09.2020 - н.в.</h3>
    </a>
  </div>
</div>

<!--<app-returner></app-returner>-->

<app-footer></app-footer>
